<!doctype html>
<html>

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="form-container">
        <p class="form-header">Login</p>
        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" id="username" class="inp" name="username">
            <br>
            <label>Password:</label>
            <input type="password" id="password" class="inp" name="password">
            <br>
            <input type="submit" id="login" class="btn" value="Login">
        </form>
    </div>
    <a id="signUpLink" class="btn" href="/signup">Sign Up</a>
    <hr>
    <span id="loginMsg">
        <%= msg %>
    </span>
</body>

</html>