<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">User Profile</p>
        <form method="POST" action="/user/update">
            <label>Username:</label>
            <input type="text" id="username" class="inp" name="username" ng-model="user.username" disabled>
            <br>
            <label>Picture:</label>
            <input type="url" id="url" class="inp" name="url" ng-model="user.url" />
            <br />
            <label>Email:</label>
            <input type="email" id="email" class="inp" name="email" ng-model="user.email">
            <br>
            <label>Quote:</label>
            <input type="text" id="color" class="inp" name="color" ng-model="user.color">
            <br>
            <input type="submit" id="save" class="btn" value="Save">
        </form>
    </div>
    <form method="POST" action="/user/delete">
        <input type="submit" id="delete" class="btn" value="Delete User">
    </form>
    <hr>
    <span id="userMsg">
        <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" class="btn" href="/">Home</a>
</body>

</html>